@import "./variables.scss";

body {
  background: $gray;
  color: #2d2d2d;

  //Utils

  .contain {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .bg-white {
    background: white !important;
    min-height: 25vh;
  }

  .bg-yellow {
    background: $yellow !important;
    min-height: 85vh;
  }

  //typography
  .title {
    font-size: 4.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: $pink;

    @media screen and (max-width: 414px) {
      font-size: 2em;
    }
  }

  .subtitle {
    font-size: 2.4em;
    font-weight: bold;
    text-transform: uppercase;
    color: $green;

    &-pet {
      color: $pink;
      text-align: center;
      font-size: 2.6em;
    }
  }

  .txt {
    font-weight: 1.1em;
    font-weight: lighter;
  }

  //buttoms
  .button {
    background: $purple;
    color: $yellow;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    min-width: 90%;
    text-align: center;
    cursor: pointer;
    transition: ease 0.4s;

    &:hover {
      background: darken($color: $purple, $amount: 30%);
      color: whitesmoke;
    }

    @media screen and (max-width: 414px) {
      min-width: 100%;
    }

    &-aux {
      @extend .button;
      background: $pink;

      &:hover {
        background: darken($color: $pink, $amount: 10%);
        color: whitesmoke;
      }
    }
  }

  //forms
  .input {
    border: none;
    border-radius: 0.5em;
    background: $gray;
    color: $purple;
    font-size: 1.4em;
    font-weight: bold;
    padding: 1.2em 0.8em;
  }

  .input-outline {
    background-color: transparent !important;
    color: white !important;
    border-radius: 0;
    border-color: white;
  }
}

:root {
  //   $pink: #f397B0;
  // $yellow: #FDFFD5;
  // $purple: #966FBF;
  // $gray: #EBEBEB;
  // $green: #76D9D2;

  --amplify-primary-color: #966fbf;
  --amplify-primary-tint: #f397b0;
  --amplify-primary-shade: #f397b0;
}
