@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: $background !important;
  // color: #2d2d2d;
  //Utils

  .contain {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .catalog {
    background: $background !important;
    min-height: 85vh;
  }
  //typography
  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.2em;
    font-weight: bold;
    text-transform: uppercase;
    //color: $pink;
    color: $headline;

    @media screen and (max-width: 414px) {
      font-size: 2em;
    }
  }

  .subtitle {
      font-family: 'Montserrat', sans-serif;
    font-size: 2.4em;
    font-weight: bold;
    text-transform: uppercase;
    //color: $green;
    color: $headline;
  }

  .txt {
      font-family: 'Open Sans', sans-serif;
    color: $paragraph;
    font-size: 1.2em;
  }

  svg {
    color: $stroke;
  }
  //buttoms
  .button {
    //background: $purple;
      //color: $yellow;
      font-family: 'Montserrat', sans-serif;
    background: $button;
    color: $buttontext;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    min-width: 90%;
    text-align: center;
    cursor: pointer;
    transition: ease 0.4s;

    &:hover {
      //background: darken($color: $pink, $amount: 30%);
      color: whitesmoke;
    }

    @media screen and (max-width: 414px) {
      min-width: 100%;
    }

    &-aux {
      @extend .button;
      background: $button;

      &:hover {
        //background: darken($color: $pink, $amount: 10%);
        color: whitesmoke;
      }
    }
  }

  //forms
  .input {
    //border: none;
    border-radius: 0.5em;
    border-color: $stroke;
    background: $main;
    color: $paragraph;
    font-size: 1.4em;
    font-weight: bold;
    padding: 1.2em 0.8em;
  }

  .input-outline {
    background-color: transparent !important;
    //color: white !important;
    color: $stroke !important;
    border-radius: 0;
    //border-color: white;
    border-color: $stroke;
  }
}

#root {
  // $pink: #f397B0;
  // $yellow: #FDFFD5;
  // $purple: #966FBF;
  // $gray: #EBEBEB;
  // $green: #76D9D2;

  // margin-left: 5em;
  // margin-right: 5em;
  background-color: $background;

  // --amplify-primary-color: #966fbf;
  // --amplify-primary-tint: #f397b0;
  // --amplify-primary-shade: #f397b0;
}

.label {
  color: $headline;
  font-family: inherit;
  font-size: larger;
  font-weight: 800;
  margin: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: repeat(1, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    ". hero ."
    ". searchBar ."
    "available available available"
    ". steps ."
    ". discovery .";
}

.ant-card-meta-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em !important;
    font-weight: bold;
    //color: $green;
    color: $headline;
}
.hero {
  grid-area: hero;
}
.searchBar {
  grid-area: searchBar;
}
.available {
  grid-area: available;
}
.steps {
    grid-area: steps;
}
.discovery {
  grid-area: discovery;
}
