// colors
$pink: #f397B0;
$yellow: #FDFFD5;
$purple: #966FBF;
$gray: #EBEBEB;
$green: #76D9D2;

//scheme 1
// $background: #faeee7;
// $headline: #33272a;
// $paragraph: #594a4e;
// $button: #ff8ba7;
// $buttontext: #33272a;
// $stroke: #33272a;
// $main: #fffffe;
// $highlight: #ff8ba7;
// $secondary: #ffc6c7;
// $tertiary: #c3f0ca;

//scheme 2
$background: #fef6e4;
$headline: #001858;
$paragraph: #172c66;
$button: #f582ae;
$buttontext: #001858;
$stroke: #001858;
$main: #f3d2c1;
$highlight: #f582ae;
$secondary: #8bd3dd;
$tertiary: #f582ae;

//scheme 3
// $background: #fffffe;
// $headline: #272343;
// $paragraph: #2d334a;
// $button: #ffd803;
// $buttontext: #272343;
// $stroke: #272343;
// $main: #bae8e8;
// $highlight: #ffd803;
// $secondary:#e3f6f5;
// $tertiary:#bae8e8;
