version: '3.9'

x-minio-common: &minio-common
  image: minio/minio:RELEASE.2021-08-31T05-46-54Z
  command: server --console-address ":9001" http://minio{1...4}/data{1...2}
  expose:
    - "9000"
    - "9001"
  environment:
    MINIO_ROOT_USER: minio
    MINIO_ROOT_PASSWORD: minio123
  healthcheck:
    test: ["CMD", "curl", "-f", "http://147.182.175.166:9000/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3

services:
    web:
        build: .
        ports:
            - '3000:80'
        depends_on:
            - server

    server:
        image: golang:1.17.0-alpine
        build: server
        ports:
            - '8082:8082'
        depends_on:
            - mongo
            - meilisearch
            - nginx-minio
            - thumbor

    mongo:
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: admin
        volumes: 
          - '/data/db:/data/db'
        ports:
            - '27017:27017'

    mongo-express:
        image: mongo-express
        restart: always
        ports:
        - '8081:8081'
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: root
            ME_CONFIG_MONGODB_ADMINPASSWORD: admin
            ME_CONFIG_MONGODB_URL: 'mongodb://root:admin@mongo:27017/'
        depends_on:
            - mongo

    meilisearch:
        image: getmeili/meilisearch
        ports:
            - '7700:7700'
        volumes:
          - /data/meilisearch/data.ms:/data.ms

    thumbor:
      image: apsl/thumbor:latest
      ports:
        - '8000:8000'

    minio1:
      <<: *minio-common
      hostname: minio1
      volumes:
        - /data/data1-1:/data1
        - /data/data1-2:/data2

    minio2:
      <<: *minio-common
      hostname: minio2
      volumes:
        - /data/data2-1:/data1
        - /data/data2-2:/data2

    minio3:
      <<: *minio-common
      hostname: minio3
      volumes:
        - /data/data3-1:/data1
        - /data/data3-2:/data2

    minio4:
      <<: *minio-common
      hostname: minio4
      volumes:
        - /data/data4-1:/data1
        - /data/data4-2:/data2

    nginx-minio:
      image: nginx:1.19.2-alpine
      hostname: nginx
      volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
      ports:
        - "9000:9000"
        - "9001:9001"
      depends_on:
        - minio1
        - minio2
        - minio3
        - minio4

    rasa:
      image: rasa/rasa:2.8.9-full
      user: root
      ports:
        - 5005:5005
      volumes:
        - /assistant/:/app/
      command:
        - run --cors "*" --model models/20210907-184826.tar.gz
    rasa-actions:
      build: assistant/actions
      ports:
        - 5055:5055