[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa = "*"
sanic-jwt = "*"
rasa-x = {version = "*", index = "https://pypi.rasa.com/simple"}

[dev-packages]

[requires]
python_version = "3.8"
