@import "../../assets/scss/variables.scss";

.article {
    display: flex;
    justify-content: center;

    .article-container {
        width: 100%;
        max-width: 680px;
        margin: 0 64px;
        line-height: 1.4;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 2em;
            font-weight: bold;
            color: $headline;

            @media screen and (max-width: 414px) {
                font-size: 2.1em;
            }
        }

        .article-title {
            letter-spacing: -0.011em;
            line-height: 60px;
            margin-top: 0.55em;
        }

        .article-cover {
            margin-top: 56px;

            img {
                width: 100%;
                object-fit: cover;
                vertical-align: middle;
            }
        }

        .article-body {

            margin-top: 56px;

            h2 {
                font-family: 'Open Sans', sans-serif;
                font-size: 1.6em;
                font-weight: bold;
                color: $headline;
                padding-bottom: 1em;
            }

            h3 {
                font-family: 'Open Sans', sans-serif;
                font-size: 1.3em;
                font-weight: bold;
                color: $paragraph;
                padding-bottom: 0.5em;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                color: $paragraph;
                font-size: 1.1em;
            }

            li::marker {
                font-family: 'Open Sans', sans-serif;
                color: $stroke;
                font-size: 1.2em;
            }

        }
    }
}
