@import '../../assets/scss/variables.scss';

.catalogo {

  .title-container {
      background: white;
      padding: .8em;
      margin-top: -10%;
      position: absolute;
      bottom: -5%;
      width: 85%;
      -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.28);
      -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.28);
      box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.28);
      border-radius: .4em;
  }

  .img-container {
      max-height: 60vh !important;
      overflow: hidden;
      border-radius: .4em;
      position: relative;
  }

  .subtitle {
    &-pet {
      font-size: 1.2em;
      color: $purple;
    }
  }

  

}

