@import "../../assets/scss/variables.scss";

.catalogo {
  margin-bottom: 20px;

  .title-container {
    background: white;
    padding: 0.8em;
    margin-top: -10%;
    position: relative;
    bottom: -5%;
    width: 90%;
    -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.28);
    border-radius: 0.4em;
  }

  .img-container {
    max-height: 60vh !important;
    overflow: hidden;
    border-radius: 0.4em;
    position: relative;
  }

  .subtitle {
    &-pet {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 1.2em;
      color: $headline;
    }
  }

  img,
  .img-container {
    height: 100%;
    width: 100%;
    height: 100%;
  }

  .publication-card {
    min-width: 260px;
    min-height: 260px;
    max-height: 360px;
    margin: 3em 1em 3em 1em;
  }

  .article-card {
    min-width: 360px;
    min-height: 360px;
    max-height: 460px;
    margin: 3em 1em 3em 1em;
  }
}
// .side{
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }
