#action {
    background-color: #966FBF;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.btn {
    background-color: white;
    color: black;
    font-weight: bold;
    border-color: transparent;
}

