@import '../../assets/scss/variables.scss';

.available-container {
    background: $main;
    padding: 2em;

  .img-container {
      max-height: 60vh !important;
      overflow: hidden;
      border-radius: .4em;
      position: relative;
  }

  img, .img-container {
      height: 100%;
      max-width: 100%;
      max-height: 100%;
  }
}

.available {
  .title-container {
      background: white;
      padding: .8em;
      margin-top: -10%;
      position: absolute;
      bottom: -5%;
      width: 91%;
      -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.28);
      -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.28);
      box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.28);
      border-radius: .4em;
  }

  .img-container {
      max-height: 60vh !important;
      overflow: hidden;
      border-radius: .4em;
      position: relative;
  }

  img, .img-container {
      height: 100%;
      max-width: 100%;
      max-height: 100%;
  }

  .subtitle {
    &-pet {
      font-size: 1.2em;
      //color: $purple;
      color: $paragraph;
    }
  }

  .publication-card {
      height: 240px;
  }
}
