.hero-container {
    background-color: #FDFFD59E;
    border-radius: 1em;
    min-height: 20vh;
    overflow: hidden;
    margin-bottom: 20px;

    .loading {
        background-color: white;
    }

    .title {
        font-size: 2.7em;
        font-weight: bold;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .title, .subtitle, .txt, .section {
        max-width: 80%;

        @media screen and (max-width: 414px) {
            max-width: 100%;
        }
    }

    .section {
        font-weight: bold;
    }

    .subtitle {
        font-size: 1em !important;
        font-weight: bold;
    }

    img {
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .carousel, .slide, .carousel-inner, .carousel-item {
        height: 35em;
    }
}

.my-3 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
