@import '../../assets/scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.discover-container {
    img {
        max-height: 380px;
        height: auto;
    }

    .card-container {
        margin: 2em 0 2em 0;
    }

    h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 1.4em;
        font-weight: bold;
        //color: $green;
        color: $headline;
    }
}

.discovery-container {
    margin: 2em 0 2em 0;
}
