@import '../../assets/scss/variables.scss';

.footer-container {
  background: #404040;
  color: white;
  padding: 1em;
  min-height: 25vh;

  .title {
    font-size: 2em;
  }

  .subtitle {
    color: white;
    font-size: 1.2em;
    margin-bottom: 0;
    padding-bottom: .4em;
  }

  .txt {
    font-weight: normal;
  }

  .button {
    min-width: 100%;
  }
}

.legal-container {
  background: darken($color:#404040, $amount: 10%);
  color: $pink;
  min-height: 5vh;

  .navbar {
    background-color: darken($color:#404040, $amount: 10%) !important;
    .nav-item {
        padding: .2em .5em;
        color: $pink;

        a {
            color: $pink;
            font-weight: light;
            transition: ease .4s;
            font-size: .8em;
            &:hover {
                color: $purple;
                text-decoration: none;
            }
        }

        &-capital {
            @extend .nav-item;
            font-weight: regular;
            text-transform: uppercase;
        }
    }
  }
}
