@import '../../assets/scss/variables.scss';

.hero-container {
    background-color: $background;
    //border-radius: 1em;
    height: 70vh;
    padding: 3em;
    overflow: hidden;

    .title, .subtitle, .txt {
        max-width: 80%;

        @media screen and (max-width: 414px) {
            max-width: 100%;
        }
    }

    .subtitle {
        font-size: 1.4em !important;
        font-weight: normal;
    }

    .subtitle-container {
        width: 80%;
        margin: 2em 0.5em 1em 0.5em;


        @media screen and (max-width: 414px) {
            max-width: 100%;
        }
    }

    img {
        border-radius: 1em;
    }
}
