@import '../../assets/scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar {
    background-color: $background;

    .nav-item {
        padding: .3em .5em;
        color: $headline;

        a {
            color: $headline;
            font-family: "Montserrat", sans-serif;
            font-weight: light;
            transition: ease .4s;
            &:hover {
                color: $highlight;
                text-decoration: none;
            }
        }

        &-capital {
            @extend .nav-item;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.sub-header{
    background-color: $background;
    color: $paragraph;
    padding: 15px;
}

.search{
    background-color: transparent;
    color: $paragraph;
}

.logo{
    max-width: 2rem;
}

.brand-name{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $headline;
    font-size: 1.3rem;
}
