@import '../../assets/scss/variables.scss';

.navbar {
    background-color: $pink !important;

    .nav-item {
        padding: .3em .5em;
        color: $yellow;

        a {
            color: $yellow;
            font-weight: light;
            transition: ease .4s;
            &:hover {
                color: $purple;
                text-decoration: none;
            }
        }

        &-capital {
            @extend .nav-item;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
