@import '../../assets/scss/variables.scss';

.search-container {
    justify-content: center;
    background: $background;
    padding: 2.5em 2em;
    margin: 2.5em;

  .button {
    //color: white;
    text-transform: uppercase;
  }

  form {
    width: 75%;

    input {
      margin-right: 2.5em;
      padding: 0.2em 0.8em !important;
      border-radius: 0.5em !important;
    }
  }
}
