@import '../../assets/scss/variables.scss';

.search-container {
    justify-content: center;
    background: $background;
    padding: 2.5em 2em;
    margin: 2.5em;

  .button {
    //color: white;
    text-transform: uppercase;
  }
}
