@import "../../assets/scss/variables.scss";

.sub-header {
  min-height: 10vh;

  .input-outline {
    border-radius: 0.4em;

    &::placeholder {
      color: $paragraph;
    }
  }

  button {
    background-color: $button;
    color: $buttontext;
  }

  .btn-outline.search {
    border: solid 1px white;
  }
}
