ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #f397B0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    float: left;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
}

/* Add a border to all( but not the last) list items */
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px;
    text-decoration: none;
}

span {
    display: block;
    color: white;
    padding: 15px 17px;
}

.primary {
    color:#FDFFD5;
}
/* Links will change color when hovered over
li a:hover {
    background-color: #7300ff;
}*/
